@page "/"

<div class="page-data-wrap">
    <div class="page-data-inner-wrap">
        <div class="page-logo-wrap">
            <img src="images/logo.svg" alt="logo" />
            <h1>
                ReDPeTT<br />
                Frontline
            </h1>
        </div>
        <div class="front-page-mid-area">
            <h2 class="heading-2">Resident - Driven Project Tool App For Frontline tier</h2>
            <p class="sub-info-text">An application collaboratively  developed by the US CDC’s Centre for Global Health’s Division Health Production and EPi Info<sub>TM</sub></p>
            <div class="bands-logos-wrap">
                <a href="/screen_2" class="brand-logo-wrap">
                    <img src="images/logo-1.png" alt="img" />
                </a>
                <a href="/screen_2" class="brand-logo-wrap">
                    <img src="images/logo-2.png" alt="img" />
                </a>
            </div>
        </div>
    </div>
</div>


