@page "/screen_2"

<div class="page-data-wrap">
    <div class="page2-data-inner-wrap">
        <div class="page2-top-area">
            <img src="images/page-2img.svg" alt="img" />
        </div>
        <div class="front-page-mid-area">
            <h2 class="heading-2">ReDPeTT Frontline</h2>
            <h3>Resident - Driven Project Tool App For Frontline tier</h3>
            <p class="sub-info-text">An application collaboratively  developed by the US CDC’s Centre for Global Health’s Division Health Production and EPi Info<sub>TM</sub></p>
            <div class="bands-logos-wrap">
                <a href="/Home" class="brand-logo-wrap">
                    <img src="images/logo-1.png" alt="img" />
                </a>
                <a href="/Home" class="brand-logo-wrap">
                    <img src="images/logo-2.png" alt="img" />
                </a>
            </div>
        </div>
    </div>
</div>

@code {

}
